SUPABASE_PROJECT_ID="sua_project_id_aqui"
SUPABASE_PUBLISHABLE_KEY="sua_chave_publica_aqui"
SUPABASE_URL="sua_url_aqui"
VITE_SUPABASE_PROJECT_ID="sua_project_id_aqui"
VITE_SUPABASE_PUBLISHABLE_KEY="sua_chave_publica_aqui"
VITE_SUPABASE_URL="sua_url_aqui"
